<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63DEAB221D75CDA500B0CEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DEAB361D75CDA500B0CEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DEAB411D75CDA500B0CEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
